<?xml version="1.0" encoding="UTF-8"?>
<manifest>

  <!-- CAF System -->
  <remote name="caf_system"
          fetch="https://source.codeaurora.org/quic/la"
          review="codeaurora.org"
          revision="refs/tags/LA.QSSI.11.0.r1-13500-qssi.0"/>

  <project name="platform/vendor/codeaurora/telephony" path="vendor/codeaurora/commonsys/telephony" remote="caf_system"/>
  <project name="platform/vendor/qcom-opensource/audio" path="vendor/qcom/opensource/commonsys/audio" remote="caf_system"/>
  <project name="platform/vendor/qcom-opensource/dataservices-commonsys" path="vendor/qcom/opensource/commonsys/dataservices" remote="caf_system"/>
  <project name="platform/vendor/qcom-opensource/display-commonsys-intf" path="vendor/qcom/opensource/commonsys-intf/display" remote="caf_system">
    <linkfile dest="vendor/qcom/defs/product-defs/system/display-product-system.mk" src="config/display-product-system.mk"/>
    <linkfile dest="vendor/qcom/defs/product-defs/vendor/display-interfaces-product.mk" src="config/display-interfaces-product.mk"/>
  </project>
  <project name="platform/vendor/qcom-opensource/interfaces" path="vendor/qcom/opensource/interfaces" remote="caf_system"/>
</manifest>